*{
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #423679;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px 200px;
    width: 800px;
    /* height: 500px; */
}

#display {
    background-color: rgb(20, 20, 20);
    color: #ddd;
    font-weight: bolder;
    width: 100%;
    height: 80px;
    font-size: 34px;
    text-align: right;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.buttons {
    background-color: #171036;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
    border-radius: 5px;
}

.btn-reset{
    grid-column: 1/3;
}
.btn-equal{
    grid-column: 3/5;
}

button {
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}